In [5]:
import numpy as np
import pandas as pd

In [6]:
path = 'Data/'
dataset = 'pinterest-20'
training_rating_name = path+dataset+'.train.rating'

In [7]:
def load_rating_file_as_list(filename):
    ratingList = []
    with open(filename, "r") as f:
        line = f.readline()
        user = -1
        while line != None and line != "":
            arr = line.split("\t")
            if int(arr[0])==user:
                ratingList[user].append(item)
            else:
                user, item = int(arr[0]), int(arr[1])
                ratingList.append([item])
                line = f.readline()
    return ratingList

In [8]:
# train_rating = load_rating_file_as_list(training_rating_name)

In [29]:
train_rating_df = pd.read_csv(training_rating_name, sep='\t', names=['user','item','rating','other'])

In [18]:
train_rating_df.describe()

               user          item     rating      other
count  1.445622e+06  1.445622e+06  1445622.0  1445622.0
mean   2.754274e+04  3.780221e+03        1.0        0.0
std    1.588175e+04  2.474970e+03        0.0        0.0
min    0.000000e+00  0.000000e+00        1.0        0.0
25%    1.386800e+04  1.594000e+03        1.0        0.0
50%    2.752000e+04  3.548000e+03        1.0        0.0
75%    4.121000e+04  5.783000e+03        1.0        0.0
max    5.518600e+04  9.915000e+03        1.0        0.0

In [43]:
train_rating = train_rating_df.groupby(['user'])['item'].count()

In [44]:
train_rating.head(5)

user
0    24
1    19
2    21
3    27
4    22
Name: item, dtype: int64

In [45]:
train_rating.size

55187

In [46]:
train_rating.describe()

count    55187.000000
mean        26.194973
std          7.527052
min         14.000000
25%         21.000000
50%         24.000000
75%         29.000000
max        136.000000
Name: item, dtype: float64

In [48]:
train_rating_df.groupby(['item'])['user'].count().describe()

count    9911.000000
mean      145.860357
std       134.639853
min         1.000000
25%        54.000000
50%       115.000000
75%       194.000000
max      1608.000000
Name: user, dtype: float64